<div ng-app="bpopApp" ng-controller="authController">
  <span class="step-arrow fa fa-arrow-left" ng-show="<%= session[:user_id].nil? %>" ng-cloak></span>
  <span class="step-arrow fa fa-arrow-right" ng-hide="<%= session[:user_id].nil? %>" ng-cloak></span>

  <main-for-auth>
      <!-- TODO make it animate only when is first visit -->
      <!-- <auth-box-left class="animated" ng-class="{fadeInUp: !isFirstVisit}">  not working properly -->
      <auth-box-left class="animated fadeInUp">
        <bpop-auth>
          <logo></logo>
            <!-- TODO reset flash message -->
            <div class="flash flash-alert animated fadeIn"><%=flash[:alert]%></div>
            <div class="flash flash-notice animated fadeIn"><%=flash[:notice]%></div>
            <div class="flash flash-success animated fadeIn"><%=flash[:success]%></div>
            <!-- login/signup form or confirmation page -->
            <div ng-view class="animated fadeIn" ng-show="<%= session[:user_id].nil? %>"></div>

            <about-box ng-hide="<%= session[:user_id].nil? %>">
              <circles>
                <span>
                  <p style="font-weight:bold"><%= current_user.email %></p>
                  <div class="fa fa-circle first"></div>
                  <div class="fa fa-circle second"></div>
                  <div class="fa fa-circle third"></div>
                  <p class="fa fa-connectdevelop text"></p>
                  <p class="steps">Connect to your social networks</p>
                </span>
                <span>
                  <div class="fa fa-circle first"></div>
                  <div class="fa fa-circle second"></div>
                  <div class="fa fa-circle third"></div>
                  <p class="fa fa-smile-o text"></p>
                  <p class="steps">Check your popularity</p>
                </span>
                <span>
                  <div class="fa fa-circle first"></div>
                  <div class="fa fa-circle second"></div>
                  <div class="fa fa-circle third"></div>
                  <p class="fa fa-comments-o text"></p>
                  <p class="steps">Share your stats</p>
                </span>

                <p class="bottom-title">CONNECT YOUR SOCIALS</p>
              </circles>

              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, :id => "logout-main-page"%>

            </about-box>


        </bpop-auth>
        <!-- <div class="cover" ng-hide="<%= session[:user_id].nil? %>" ng-cloak></div> -->
      </auth-box-left>

    <pink-background>
      <auth-box-right class="animated fadeInDown">
        <span id="title-blue">DISCOVER HOW</span>
        <span id="title-green">POPULAR</span>
        <span id="title-pink">you are in the clouds</span>
        <icon id="people"></icon>
        <p>connect to the social newtorks you want the stats from</p>
        <div class="flash flash-alert animated fadeIn"><%=flash[:error]%></div>
        <connect-social ng-cloak>
    <% if @fb_connected %>
      <%= link_to(remove_social_path({user_id: current_user.id, provider: 'facebook'})) do %>
            <container-button-social class="connected">
              <button class="fa fa-facebook"></button>
                  <profile-thumb-pic ng-cloak>
                    <%= image_tag @fb_profile_pic %>
                  </profile-thumb-pic>
                    <p>logged in as</p>
                    <p id="username"><%= @fb_name %></p>
              </container-button-social>
              <% end %>
          <% else %>
            <%= link_to(user_omniauth_authorize_path('facebook')) do %>
              <container-button-social class="not-connected">
                <button class="fa fa-facebook"></button>
                  <profile-thumb-pic class="fa fa-user"></profile-thumb-pic>
                  <p>click to connect</p>
                </container-button-social>
              <% end %>
          <% end %>


          <% if @tw_connected %>
            <%= link_to(remove_social_path({user_id: current_user.id, provider: 'twitter'})) do %>
                  <container-button-social class="connected">
                    <button class="fa fa-twitter"></button>
                        <profile-thumb-pic ng-cloak>
                          <%= image_tag @tw_profile_pic %>
                        </profile-thumb-pic>
                          <p>logged in as</p>
                          <p id="username"><%= @tw_name %></p>
                    </container-button-social>
                    <% end %>
                <% else %>
                  <%= link_to(user_omniauth_authorize_path('twitter')) do %>
                    <container-button-social class="not-connected">
                      <button class="fa fa-twitter"></button>
                        <profile-thumb-pic class="fa fa-user"></profile-thumb-pic>
                        <p>click to connect</p>
                      </container-button-social>
                    <% end %>
                <% end %>




        </connect-social>
      </a>

        <button><%= link_to 'GO', root_path%></button>

        <a href="#" id="info"><p class="fa">do this later and skip to the website ></p></a>

        <!-- <dots class="fa">
          <a href="#"><span class="fa-circle active"></span></a>
          <a href="#"><span class="fa-circle"></span></a>
          <a href="#"><span class="fa-circle"></span></a>
        </dots> -->
        <div class="cover" ng-show="<%= session[:user_id].nil? %>" ng-cloak</div>
      </auth-box-right>
    </pink-background>
  </main-for-auth>

</div>
