<h1>Home</h1>

<% if current_user %>
	<%= current_user.email  %>
		<% current_user.identities.each do |identity| %>
			<h2><%= identity.provider %></h2>
			<p><%= identity.name %></p>
			<p><a href="<%= identity.profile_url %>"><img src="<%= identity.image_url %>"></a></p>
			<p><%= identity.fb_authorize.get_object('me') %></p>
			
			*********
			<p>POSTS: <%= get_posts(identity.fb_authorize, '2015-05-16') %></p>
			*********
			

			<%= link_to "logout #{identity.provider}", remove_social_path(current_user, identityId: identity.id) %>
		<% end %>
<% end %>

<br />
<br />
<%= link_to "connect facebook", user_omniauth_authorize_path('facebook')%>
<%= link_to "connect twitter", user_omniauth_authorize_path('twitter')%>
<br />
************************
<br />
<br />
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>